// src/components/GameCanvas.module.scss
.gameCanvas {
  /* Using a dark blue/purple for the sky instead of solid green */
  background: linear-gradient(to bottom, #201c57, #1a1a2e); 
  border-bottom: 2px solid var(--secondary-accent);
  
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  display: block; /* Removes potential whitespace below canvas */
}
