// src/components/PauseScreen.module.scss
.pauseScreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(247, 247, 247, 0.8);
  z-index: 20; // Higher than game canvas
}

.title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}
